body{
	width: 80%;
	margin: auto;
}
#header{
	width: auto;
	height: 80px;
	text-align: center;
	font-size: 40px;
	border-bottom: 4px solid gray;
	color: gold;
}
#img{
	float: left;
	margin: 10px 20px 0 0;
}
#abeliophyllum_info{
	float: right;
	width: 28%;
	font-size: 20px;
	line-height: 40px;
}

h{
	color:gold;
}



